<div class="task-card border p-3 rounded mb-3 bg-light">
  <div class="d-flex align-items-baseline gap-2 mb-2">
    <input
      type="checkbox"
      class="form-check-input mt-1"
      [checked]="task.status === 'Completed'"
      (change)="toggleCompleted(task)"
    />

    <div class="d-flex flex-wrap align-items-baseline gap-2">
      <h5 class="m-0">{{ task.name }}</h5>
      <span
        class="badge"
        [ngClass]="{
          'bg-success': task.status === 'Completed',
          'bg-danger': task.status === 'Pending',
          'bg-dark': task.status !== 'Completed' && task.status !== 'Pending'
        }"
      >
        {{ task.status }}
      </span>
    </div>
  </div>

  <div class="mb-2 fw-semibold">
    {{ formattedDate }}
  </div>

  <button
    class="btn btn-outline-primary btn-sm"
    (click)="toggleDescription(task)"
  >
    {{ task.showDescription ? "Ukryj opis" : "Pokaż opis" }}
  </button>

  <p *ngIf="task.showDescription" class="mt-2">{{ task.description }}</p>
</div>
