<div class="container">
  <div class="d-flex my-4 align-items-center">
    <h1>Lista zadań</h1>
    <button class="btn btn-primary mx-3" (click)="openAddTaskDialog()">
      Dodaj zadanie
    </button>
  </div>
  <app-task-filters (filtersChanged)="onFiltersChanged($event)" />

  <ul class="list-unstyled">
    <li *ngFor="let task of pagedTasks">
      <app-task-item
        [task]="task"
        [toggleCompleted]="toggleCompleted"
        [toggleDescription]="toggleDescription"
      />
    </li>
  </ul>

  <div *ngIf="filteredTasks.length === 0" class="text-muted mt-4">
    Brak zadań
  </div>

  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChanged)="onPageChanged($event)"
  ></app-pagination>
</div>
